@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jura:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;

}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background-img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.navbar{
    position: relative;
    display: flex;
    width: 100%;
    height: 77px;
    background-color: rgb(54,18,144);
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: "Noto Sans";
    font-weight: bold;
}
.navbar-logo{
    position: absolute !important;
    width: auto;
    margin-left: 13%;
}
.logo{
    width: 50px;
    height: 50px;
}
.navbar-compo{
    position: absolute !important;
    width: auto;
    /* justify-content: flex-end; */
    right: 20%;
    font-size: 13px;
    /* justify-content: space-between; */
}
.navbar-compo .icon{
    display: none;
}
.navbar-compo .clsIcon{
    display: none;
}
.navbar-compo a:hover {
    color:gray;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropbtn {
    background-color: rgb(54,18,144);
    color: white;
    border: none;
    font-size: 13px;
    font-family: "Noto Sans";
    font-weight: bold;
  }
  
.dropdown-content {
    width: 160px;
    height: auto;
    display: none;
    position: absolute;
    justify-content: space-between;
    z-index: 1;
  }
  
.dropdown-content a {
    margin-top: 10px; 
    width: 100%;
    padding: 12px 15px;
    display: block;
    font-weight: lighter;
    background-color:  rgb(54,18,144);
  }
 
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color:gray;
}

.dropdown:hover .dropbtn {
    color:gray;
}

.buynow{
    padding:12px 16px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(236,116,153);
}
.buynow:hover{
    background-color: rgb(227,49,104);
}

.body-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, rgba(128,0,128,0.6), rgba(0,0,255,0.4));
}
.body{
    width: auto;
    height: auto;
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    height: auto;
    color: white;
    transform: translate(-50%,-75%);
    
}
.title h1{
    font-family:  'Source Sans Pro',sans-serif;
    font-size: 5.6rem;
}
.bot{
    height: 100%;
    margin-top: 75px;
    justify-content: space-between;
}
.bot a{
    margin-left: 10px;
}

.bot-btn{
    padding:13px 30px;
    border-radius: 3px;
    text-align: center;
    font-family: "Noto Sans";
    font-weight: 700;
    opacity: 0.8;
}
.bot-btn:hover{
    opacity: 1;
}
.bot-buynow{
    background-color: rgb(48,213,165);
}
.bot-demo{
    background-color: white;
    color: black;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .navbar-logo{
        margin-left: 4%;
    }
    .body{
        width: 70%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .background-img{
        height: 100%;
    }
    .navbar-compo{
        margin-right: 45px;
        margin-left: 35%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .navbar-compo{
        width: auto;
        margin-left: 65%;
        margin-right: 20px;
        justify-content: start;
    }
    .navbar-compo .dropdown-content{
        display: none;
    }
    .navbar-compo a{
        display: none;
    }
    .navbar-compo .icon{
        display: block;
    }
    .dropdown{
        position: static !important;
    }
    .dropdown-content{
        position: static !important;
    }

    .navbar-compo.responsive {
        height: 100vh;
        width: 30%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        top: 0;
        right:0;
        background-color: rgb(57, 11, 172);
        overflow-x: hidden;
        transition: 0.5s;
        opacity: 1;
    }
    .navbar-compo.responsive .icon {
        display: none;
        top: 30px;
    }
    .navbar-compo.responsive .clsIcon{
        font-size: 60px;
        margin-top: -5px;
        margin-left: -150px;
    }
    .navbar-compo.responsive a {
        margin-top: 20px;
        font-size: 20px;
        font-weight: lighter;
        display: block;
        transition: 0.3s;
    }
    .navbar-compo.responsive. div{
        float: none;
        display: block;
        text-align: left;
        /* margin-bottom: 100px; */
    }
    /* .navbar-compo.responsive.dropdown.dropdown-content{
        display: none;
    } */

    .body{
        width: 90%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .navbar-compo{
        margin-left: 55%;
        margin-right: 20px;
    }
}

@media (max-width:360px){


}

@media (max-width: 280px){
}